# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bin
*.o
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages
*.g.dart
*.freezed.dart
*.mocks.dart
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/build/*
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_assets/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/.idea/
**/android/*/debug
**/android/app/.cxx/Debug/*
**/android/*/profile
**/android/*/release
**/RelWithDebInfo

# macOS related
**/macos/Flutter/GeneratedPluginRegistrant.*
**/macos/Flutter/ephemeral
**/Flutter/ephemeral/
**/xcuserdata/

# Windows related
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/ephemeral/

# Linux related
**/linux/flutter/generated_plugin_registrant.*
**/linux/flutter/ephemeral/
